<!doctype html>
<html>
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
   <body>
      <section style="max-width: 42rem; padding-left: 1.5rem; padding-right: 1.5rem; padding-top: 2rem; padding-bottom: 2rem; margin-left: auto; margin-right: auto; background-color: #fff;" class="max-w-2xl px-6 py-8 mx-auto bg-white dark:bg-gray-900">
         <header>
            <a href="#" style="display: inline-block;">
            <img style="width: 300px; height: 2.75rem; object-fit: contain;" class="w-auto h-7 sm:h-8" src="https://res.cloudinary.com/dabfdxbfj/image/upload/v1685890010/NorthernBox_Logo-1-removebg-preview_e4d9et.png" alt="" >
            </a>
         </header>
         <main style="margin-top: 2rem;" class="mt-8">
            <p style="font-size: 1.25rem; color: #4b5563;" class="text-xl text-gray-700 dark:text-gray-200">Dear {{ name }}</p>
            <p style="margin-top: 1rem; line-height: 1.5rem; color: #4b5563;" class="mt-4 leading-loose text-gray-600 dark:text-gray-300">
               Congratulations and welcome to Code Wave! We are thrilled to have you as a mentee in our program. This email is to confirm your successful registration and provide you with important information to get started.
            </p>
            <p style="margin-top: 1rem; line-height: 1.5rem; color: #4b5563;" class="mt-4 leading-loose text-gray-600 dark:text-gray-300">
               Code Wave is an exciting program that connects beginner software developers like you with experienced mentors and fellow beginners for collaborative learning and pair programming. Together, we will embark on a journey to enhance your coding skills, explore real-world projects, and build a strong foundation in software development.
            </p>
            <p style="margin-top: 1rem; line-height: 1.5rem; color: #4b5563;" class="mt-4 leading-loose text-gray-600 dark:text-gray-300">
               To ensure a smooth and rewarding experience, here are a few key details:
            </p>
            <hr style="margin-top: 1.5rem; margin-bottom: 1.5rem; border-color: #e2e8f0;" class="my-6 border-gray-200 dark:border-gray-700">
            <div>
               <div>
                  <a href="#" style="display: inline-flex; align-items: center; color: #3b82f6; text-decoration: underline; text-underline-offset: 0.25rem;" class="inline-flex items-center text-blue-600 underline dark:text-blue-400 gap-x-2 underline-offset-4">
                  <span>Mentor Assignment</span>
                  </a>
                  <p style="margin-top: 0.5rem; color: #6b7280;" class="mt-2 text-gray-500 dark:text-gray-400">We are currently in the process of pairing you with a suitable mentor who will guide you throughout your learning journey. Once we have found the perfect match, we will notify you with the mentor's information and how to initiate contact.</p>
               </div>
               <hr style="margin-top: 1.5rem; margin-bottom: 1.5rem; border-color: #e2e8f0;" class="my-6 border-gray-200 dark:border-gray-700">
               <div>
                  <a href="#" style="display: inline-flex; align-items: center; color: #3b82f6; text-decoration: underline; text-underline-offset: 0.25rem;" class="inline-flex items-center text-blue-600 underline dark:text-blue-400 gap-x-2 underline-offset-4">
                  <span>Program Guidelines</span>
                  </a>
                  <p style="margin-top: 0.5rem; color: #6b7280;" class="mt-2 text-gray-500 dark:text-gray-400">Please familiarize yourself with the Code Wave program guidelines, which outline the expectations, communication channels, and code of conduct. You can find these guidelines on our program website [provide link] or by reaching out to our program administrators.</p>
               </div>
               <hr style="margin-top: 1.5rem; margin-bottom: 1.5rem; border-color: #e2e8f0;" class="my-6 border-gray-200 dark:border-gray-700">
               <div>
                  <a href="#" style="display: inline-flex; align-items: center; color: #3b82f6; text-decoration: underline; text-underline-offset: 0.25rem;" class="inline-flex items-center text-blue-600 underline dark:text-blue-400 gap-x-2 underline-offset-4">
                  <span>Community Engagement</span>
                  </a>
                  <p style="margin-top: 0.5rem; color: #6b7280;" class="mt-2 text-gray-500 dark:text-gray-400">We encourage you to actively engage with the Code Wave community. Our <a href="https://discord.gg/gTHWZeQx" style="display: inline-flex; align-items: center; color: #3b82f6; text-decoration: underline; text-underline-offset: 0.25rem;" class="inline-flex items-center text-blue-600 underline dark:text-blue-400 gap-x-2 underline-offset-4">Discord Server</a> is the central hub for communication, discussions, and collaboration with your fellow mentees and mentors. Feel free to introduce yourself, ask questions, and share your progress. Together, we can create an environment of continuous learning and support.</p>
               </div>
               <hr style="margin-top: 1.5rem; margin-bottom: 1.5rem; border-color: #e2e8f0;" class="my-6 border-gray-200 dark:border-gray-700">
               <div>
                  <a href="#" style="display: inline-flex; align-items: center; color: #3b82f6; text-decoration: underline; text-underline-offset: 0.25rem;" class="inline-flex items-center text-blue-600 underline dark:text-blue-400 gap-x-2 underline-offset-4">
                  <span>Upcoming Events and Workshops</span>
                  </a>
                  <p style="margin-top: 0.5rem; color: #6b7280;" class="mt-2 text-gray-500 dark:text-gray-400">Stay tuned for upcoming events, workshops, and coding challenges that will enhance your skills and provide valuable learning opportunities. We will keep you informed about these exciting initiatives through email and our community platforms.</p>
               </div>
               <hr style="margin-top: 1.5rem; margin-bottom: 1.5rem; border-color: #e2e8f0;" class="my-6 border-gray-200 dark:border-gray-700">
            </div>
            <p style="margin-top: 0.5rem; color: #6b7280;" class="mt-2 text-gray-500 dark:text-gray-400">
               We are committed to your growth and success as a software developer. Should you have any questions, concerns, or need assistance, please don't hesitate to reach out to our program administrators at codewave@northernbox.org/gabdub@northernbox.org or +254729753530/+254723212256.
            </p>
            <p style="margin-top: 0.5rem; color: #6b7280;" class="mt-2 text-gray-500 dark:text-gray-400">
               Once again, welcome to Code Wave! Get ready for an incredible journey of learning, collaboration, and growth. We look forward to witnessing your progress and accomplishments.
            </p>
            <p style="margin-top: 0.5rem; color: #6b7280;" class="mt-2 text-gray-500 dark:text-gray-400">
               Happy coding!
            </p>
         </main>
      </section>
   </body>
</html>