<!doctype html>
<html>
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
   <body>
      <section style="max-width: 42rem; padding-left: 1.5rem; padding-right: 1.5rem; padding-top: 2rem; padding-bottom: 2rem; margin-left: auto; margin-right: auto; background-color: #fff;" class="max-w-2xl px-6 py-8 mx-auto bg-white dark:bg-gray-900">
         <header>
            <a href="#" style="display: inline-block;">
            <img style="width: 700px; height: 6.75rem; object-fit: contain;" class="w-auto h-7 sm:h-8" src="https://res.cloudinary.com/dabfdxbfj/image/upload/v1685890010/NorthernBox_Logo-1-removebg-preview_e4d9et.png" alt="" >
            </a>
         </header>
         <main style="margin-top: 2rem;" class="mt-8">
            <p style="font-size: 1.25rem; color: #4b5563;" class="text-xl text-gray-700 dark:text-gray-200">Dear {{ name }}</p>
            <p style="margin-top: 1rem; line-height: 1.5rem; color: #4b5563;" class="mt-4 leading-loose text-gray-600 dark:text-gray-300">
               Welcome to NorthernBox Community! 🚀
            </p>
            <p style="margin-top: 1rem; line-height: 1.5rem; color: #4b5563;" class="mt-4 leading-loose text-gray-600 dark:text-gray-300">
               We're thrilled to have you on board, and we want to extend a warm welcome to our vibrant community of learners, innovators, and collaborators. At NorthernBox, we believe in the power of technology to drive positive change, and we're excited to embark on this journey with you.
            </p>
            <p style="margin-top: 1rem; line-height: 1.5rem; color: #4b5563;" class="mt-4 leading-loose text-gray-600 dark:text-gray-300">
               Here's what you can expect as a member:
            </p>
            <hr style="margin-top: 1.5rem; margin-bottom: 1.5rem; border-color: #e2e8f0;" class="my-6 border-gray-200 dark:border-gray-700">
            <div>
               <hr style="margin-top: 1.5rem; margin-bottom: 1.5rem; border-color: #e2e8f0;" class="my-6 border-gray-200 dark:border-gray-700">
               <div>
                  <p style="display: inline-flex; align-items: center; color: text-underline-offset: 0.25rem;" class="inline-flex items-center text-blue-600 underline dark:text-blue-400 gap-x-2 underline-offset-4">
                  <span>Community Engagement</span>
                  </p>
                  <p style="margin-top: 0.5rem; color: #6b7280;" class="mt-2 text-gray-500 dark:text-gray-400">We encourage you to actively engage with the Code Wave community. Our <a href="https://discord.gg/gTHWZeQx" style="display: inline-flex; align-items: center; color: text-underline-offset: 0.25rem;" class="inline-flex items-center text-blue-600 underline dark:text-blue-400 gap-x-2 underline-offset-4">Discord Server</a> is the central hub for communication, discussions, and collaboration with your fellow mentees and mentors. Feel free to introduce yourself, ask questions, and share your progress. Together, we can create an environment of continuous learning and support.</p>
               </div>
               <hr style="margin-top: 1.5rem; margin-bottom: 1.5rem; border-color: #e2e8f0;" class="my-6 border-gray-200 dark:border-gray-700">
               <div>
                  <p style="display: inline-flex; align-items: center; color: text-underline-offset: 0.25rem;" class="inline-flex items-center text-blue-600 underline dark:text-blue-400 gap-x-2 underline-offset-4">
                  <span>Learning Opportunities</span>
                  </p>
                  <p style="margin-top: 0.5rem; color: #6b7280;" class="mt-2 text-gray-500 dark:text-gray-400">Whether you're a seasoned professional or just starting, we offer a range of programs, workshops, and mentorship opportunities to enhance your skills and knowledge..</p>
               </div>
               <hr style="margin-top: 1.5rem; margin-bottom: 1.5rem; border-color: #e2e8f0;" class="my-6 border-gray-200 dark:border-gray-700">
               <div>
                  <p style="display: inline-flex; align-items: center; color: text-underline-offset: 0.25rem;" class="inline-flex items-center text-blue-600 underline dark:text-blue-400 gap-x-2 underline-offset-4">
                  <span>Innovation and Creativity</span>
                  </p>
                  <p style="margin-top: 0.5rem; color: #6b7280;" class="mt-2 text-gray-500 dark:text-gray-400">NorthernBox is not just a community; it's a hub for innovation. Explore new ideas, work on projects, and be part of initiatives that make a real impact.</p>
               </div>
               <hr style="margin-top: 1.5rem; margin-bottom: 1.5rem; border-color: #e2e8f0;" class="my-6 border-gray-200 dark:border-gray-700">
               <div>
                  <p href="#" style="display: inline-flex; align-items: center; color: text-underline-offset: 0.25rem;" class="inline-flex items-center text-blue-600 underline dark:text-blue-400 gap-x-2 underline-offset-4">
                  <span>Upcoming Events and Workshops</span>
                  </p>
                  <p style="margin-top: 0.5rem; color: #6b7280;" class="mt-2 text-gray-500 dark:text-gray-400">Stay tuned for upcoming events, workshops, and coding challenges that will enhance your skills and provide valuable learning opportunities. We will keep you informed about these exciting initiatives through email and our community platforms.</p>
               </div>
               <hr style="margin-top: 1.5rem; margin-bottom: 1.5rem; border-color: #e2e8f0;" class="my-6 border-gray-200 dark:border-gray-700">
            </div>
            <p style="margin-top: 0.5rem; color: #6b7280;" class="mt-2 text-gray-500 dark:text-gray-400">
               We are committed to your growth and success. Should you have any questions, concerns, or need assistance, please don't hesitate to reach out to our program administrators at gabdub@northernbox.org/dirambora@northernbox.org or +254729753530/+254723212256.
            </p>
            <p style="margin-top: 0.5rem; color: #6b7280;" class="mt-2 text-gray-500 dark:text-gray-400">
               Once again, Welcome to NorthernBox Community! 🚀 Get ready for an incredible journey of learning, collaboration, and growth. We look forward to witnessing your progress and accomplishments as a member.
            </p>
            <p style="margin-top: 0.5rem; color: #6b7280;" class="mt-2 text-gray-500 dark:text-gray-400">
               Happy coding!
            </p>
         </main>
      </section>
   </body>
</html>